:root {
  --color-text: #F8F5F5;
  --primary-color: #E32F7A;
  --secondary-color: #1F1F1F;
  --secondary-bacground: #D9D9D9;
  --background: #0F021C;
  --primary-back: #E2E0E0;
  --crime-color: #3F2E64;
  --army-color: #536641;

  --other-lawyers-color: #F16D74;
  
  --border-gradient: linear-gradient(275deg, #E32F7A 0%, #D70F74 42%, #912E6F 81%);
  --other-border-gradient: linear-gradient(275deg, #E32F7A 0%, #F16E74 42%, #FBB663 81%);

  --title-text_desktop: 40px;
  --title-text_laptop: 36px;
  --title-text_mobile: 28px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #e9e9e9;
//   border-radius: 50px;
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  background: #FDF7F7;

    &::-webkit-scrollbar {
        width: 0px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #FF8A00;
        border-radius: 0px;
        position: relative;
      }
}

html,
.fill {
  width: 100%;
  height: 100%;
  // background: var(--background);
}



body {
  z-index: -1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-text);
  font-family: "Nunito", sans-serif;
  // background: var(--background);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}



h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}